<h1>This is the home page of my blog app</h1>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %> <br/>
<img width="50%" margin="5%" padding="10px" src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/bmw-m4-convertible-uk-002.jpg?itok=01Zp8nEW">
