<div class="container">\
    <footer class="footer">
        <small>
            Copyright &copy; <a href="http://recoveryunit.webflow.io"> The Recovery Unit</a>.
            Application designed and developed by: <a href="http://mrgi.webflow.io/">MRGI Software Solutions</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
    
</div>